# Python
__pycache__/
*.py[cod]

# Entornos virtuales
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
.pytest_cache/
.coverage

# Modelo entrenado generado localmente
modelos/*.joblib